/* Override this file to add your own style adjustments */

.container-lg {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

#main {
    grid-area: main;
    max-width: 1000px;
}

#side {
    grid-area: side;
    width: 300px;
}

